@use '../../../styles/components/variables' as *;

.skill-section {
    padding-block: 50px;
    background-color: $gray420;

    .skill-box {
        border: 1px solid $black;
        padding: 15px;
        border-radius: 10px;
        height: 100%;

        h3 {
            margin-bottom: 20px;
        }

        .skill-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: start;

            svg,
            img {
                max-width: 30px;
                min-height: 52px;
                color: $black;
                filter: brightness(0) saturate(100%)
            }

            h5 {
                font-size: 14px;
            }

            li {
                text-align: center;
                border: 1px solid $black;
                padding: 10px;
                border-radius: 20px;
                margin-bottom: 10px;
                flex: 0 0 31%;
                transition: 0.5s;

                &:hover {
                    background-color: $black;

                    svg,
                    img {
                        color: $white;
                        filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(5%) hue-rotate(164deg) brightness(103%) contrast(103%);
                    }
                     h5 {
                    color: $white;
                }
                }


            }



        }
    }
}