@use './variables' as *;
@use './mixin' as *;
input {
    &[type="text"], &[type="number"], &[type="search"], &[type="email"], &[type="password"], &[type="tel"] {
        height: 44px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid $gray2;
        padding-left: 10px;
        border-radius: 5px;
        @include media-breakpoint-down-xxl {
            height: 33px;
            font-size: 11px;
        }
        &::placeholder {
            color: $gray1;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: $black;
        }
    }
}

textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid $gray2;
    font-size: 13px;
    padding: 10px;
    max-height: 100px;
    &:focus {
        outline: 0;
        border-color: $black;
    }
}