@use './variables' as *;
@use './mixin' as *;

* {
    font-family: 'Poppins';
    scrollbar-width: thin !important;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    background-color: $white;
    font-weight: 400;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;

    &:hover {
        color: $primary;
    }
}

img {
    max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p,
a,
span {
    margin: 0;
    padding: 0;
    color: $black;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


h1,
.h1 {
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 15px;
     @include media-breakpoint-down-xxl {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
     }
      @include media-breakpoint-down-md {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
     }
     * {
        font-size: inherit !important;
     }
}

h2,
.h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
      @include media-breakpoint-down-xxl {
        font-size: 22px;
        line-height: 28px;
     }
    @include media-breakpoint-down-md {
        font-size: 20px;
     }
     * {
        font-size: inherit !important;
     }
}

h3,
.h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
      @include media-breakpoint-down-xxl {
        font-size: 18px;
        line-height: 28px;
     }
     * {
        font-size: inherit !important;
     }
}

h4,
.h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
      @include media-breakpoint-down-xxl {
        font-size: 17px;
        line-height: 24px;
     }
    @include media-breakpoint-down-lg {
        font-size: 16px;
        line-height: 24px;
     }
    @include media-breakpoint-down-md {
        font-size: 14px;
        line-height: 20px;
     }
     * {
        font-size: inherit !important;
     }
}
h6,
.h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
      @include media-breakpoint-down-xxl {
        font-size: 17px;
        line-height: 24px;
     }
    @include media-breakpoint-down-lg {
        font-size: 16px;
        line-height: 24px;
     }
    @include media-breakpoint-down-md {
        font-size: 14px;
        line-height: 20px;
     }
     * {
        font-size: inherit !important;
     }
}

/* Paragraph style based on style guide */
p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 0;
     @include media-breakpoint-down-xxl {
        font-size: 12px;
        line-height: 16px;
    }
    @include media-breakpoint-down-xl {
        font-size: 11px;
        line-height: 16px;
    }
    * {
        font-size: inherit !important;
    }
}
span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
     @include media-breakpoint-down-xxl {
        font-size: 11px;
        line-height: 16px;
    }
}