// colors

$primary: #e35205;
$gray420: #f5f5f5;
$gray: #a8a9b4;


$blue: #5E88B3;
$darkblue: #12689d ;
$light-blue: #f0f8ff;
$mid-blue: #AAC9FF;
$secondary: #8693AB;
$darksecondary: #6b7588;
$ghostWhite: #F2F1F9;
$gray90: #e5e5e5;
$light-gray: #d3d3d3;
$dim-gray: #f2f2f2;
$black: #000000;
$white: #ffffff;
$black: #000000;
$alto: #dddddd;
$gray1: #ACACAC;
$gray2: #E1E1E1;
$gray3: #FAFAFA;
$gray4: #F3F3F6 ;
$gray5: #F6F6F6;
$grayDark: #9D9D9D;
$redMain: #ff0000;
$red: #D0011B;
$alert-danger: #F8D7DA;
$danger-alert-text: #721C47;
$darkRed:#b50017;
$brown: #721C24;
$lightGreen: #0DC110;
$dimGreen: #DFF0D8;
$midGreen: #A4E18B;
$darkGreen: #3C763D;
$yellow: #FFBF00;
$lightRed: #FFD3CE;
$minRed: #FCA196;
$mainRed: #E85342;
$lightYellow: #FFF9DB;
$midYellow: #FFEE9B;
$mainYellow: #F7D636;
$smallYellow: #FFF8E5;
$dark-yellow: #664d03;
$sunyellow:#cf8f07;
$grassgreen:#03912b;
$silver:#dcdcdc;
$silver1:#B0B0B0;
$darkBlue: #004085;
$blueSlide: #cce5ff;
$slimBlue: #b8daff;