@use '../../styles/components/mixin' as *;
@use '../../styles/components/variables' as *;

.page-layout {

    .main-content {
        @include media-breakpoint-down-lg {
            flex: none;
            width: 100%;
        }

        .toggle-button {
            position: fixed;
            right: 20px;
            z-index: 99999;
            top: 20px;
        }
    }
}