@use '../../../styles/components/variables' as *;

.personal-section {
    padding-block: 50px;

    .row {
        gap: 20px 0;
    }

    .work-content {
        h6 {
            margin-bottom: 40px;
        }

        .carousel {
            .carousel-inner {
                max-width: 90%;
                margin: auto;
            }
            .carousel-control-prev, .carousel-control-next {
                width: 5%;
                span {
                    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(9%) hue-rotate(190deg) brightness(96%) contrast(102%);
                }
            }
        }

        .work-box {
            padding: 10px;
            border: 1px solid $gray2;
            height: 100%;
            border-radius: 10px;

            &:hover {
                box-shadow: 0px 2px 6px -2px #a1a1a1;
            }

            .about-project {
                margin-top: 20px;

                h4 {
                    padding-bottom: 10px;
                    position: relative;
                    margin-bottom: 10px;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 50px;
                        height: 3px;
                        background: $primary;
                        left: 0;
                        bottom: 0;
                    }
                }
            }

            .visit-site {
                position: relative;
                display: block;
                overflow: hidden;
                border: 1px solid $gray2;
                transition: 0.5s;

                .visit-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                    visibility: hidden;

                }

                &:hover {
                    &::before {
                        content: "";
                        background: color-mix(in srgb, #040b14, transparent 70%);
                        position: absolute;
                        inset: 0;
                        z-index: 2;
                    }

                    img {
                        transition: 1s;

                        transform: scale(1.2);
                    }

                    .visit-text {
                        visibility: visible;

                        p {
                            color: $white;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}